body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://64.media.tumblr.com/93d84844618940cdc3e82ba267d83939/e678e54cc3c8d7ef-e8/s1280x1920/78e48708770c1ef4a72e8b5b94106df0d9486375.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
